:root {
  --Text: #2d2d2d;
  --Background: #f1f7fa;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Onest", Arial, Helvetica, sans-serif;
  color: var(--Text);
  background: var(--Background);
}

header {
  display: flex;
  align-items: end;
  gap: 20px;
  border-bottom: 1px solid grey;
  padding: 20px 36px;
  margin-bottom: 30px;
}

header p {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Table-Content */
.table-content {
  margin: 20px 0;
  border-bottom: 1px solid grey;
}
/* Top Stages */
.table-content .top-stages {
  display: flex;
  margin: 0 32px;
}

.table-content .top-stages h2 {
  font-size: 1rem;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.table-content .top-stages .stages-challenge {
  content: "";
  width: 0px;
  padding: 15px;
}

/* Reseatch */
.table-content .top-stages .research {
  background: #73ceee;
  color: white;
  position: relative;
}

/* Comparison */
.table-content .top-stages .comparison {
  background: #4cafe7;
  color: white;
  position: relative;
}

.table-content .top-stages .comparison::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 25px solid #4cafe7;
  border-bottom: 25px solid #4cafe7;
  border-left: 15px solid #73ceee;
}

/* Appointment */
.table-content .top-stages .appointment {
  background: #5d9be6;
  color: white;
  position: relative;
}

.table-content .top-stages .appointment::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 25px solid #5d9be6;
  border-bottom: 25px solid #5d9be6;
  border-left: 15px solid #4cafe7;
}

/* Diagnosis */
.table-content .top-stages .diagnosis {
  background: #6885e5;
  color: white;
  position: relative;
}

.table-content .top-stages .diagnosis::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 25px solid #6885e5;
  border-bottom: 25px solid #6885e5;
  border-left: 15px solid #5d9be6;
}

/* Treatment */
.table-content .top-stages .treatment {
  background: #7269e4;
  color: white;
  position: relative;
}

.table-content .top-stages .treatment::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 25px solid #7269e4;
  border-bottom: 25px solid #7269e4;
  border-left: 15px solid #6885e5;
}

/* Post-Treatment */
.table-content .top-stages .post-treatment {
  background: #804ce3;
  color: white;
  position: relative;
}

.table-content .top-stages .post-treatment::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 25px solid #804ce3;
  border-bottom: 25px solid #804ce3;
  border-left: 15px solid #7269e4;
}

/* Follow Up */
.table-content .top-stages .follow-up {
  background: #892ee2;
  color: white;
  position: relative;
}

.table-content .top-stages .follow-up::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 25px solid #892ee2;
  border-bottom: 25px solid #892ee2;
  border-left: 15px solid #804ce3;
}

.table-content .top-stages .follow-up::after {
  content: "";
  position: absolute;
  top: 0;
  right: -14px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 15px solid #892ee2;
}

/* Stages Result */
.table-content .stages-content {
  display: flex;
  margin: 10px 18px 0px 20px;
  gap: 10px;
  align-items: center;
}

/* Stages */
.table-content .stages-content .stages {
  display: flex;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  width: auto;
  height: 150px;
  padding: 10px 6px;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s;
}

.table-content .stages-content .stages h2 {
  font-size: 1rem;
}

/* Stages Progress */
.table-content .stages-content p {
  display: flex;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 0 30px;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
}

.table-content .stages-content .stages:hover {
    height: 160px;
}

.table-content .stages-content .stages:hover ~ p {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Interaction Result */
.table-content .interaction-content {
  display: flex;
  margin: 1px 18px 0px 20px;
  gap: 10px;
  align-items: center;
}

/* Interaction */
.table-content .interaction-content .interaction {
  display: flex;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  width: auto;
  height: 150px;
  padding: 10px 6px;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s;
}

.table-content .interaction-content .interaction h2 {
  font-size: 1rem;
}

/* Interaction Progress */
.table-content .interaction-content p {
  display: flex;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 0 30px;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
}

.table-content .interaction-content .interaction:hover {
    height: 160px;
}

.table-content .interaction-content .interaction:hover ~ p {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Thinking Result */
.table-content .thinking-content {
  display: flex;
  margin: 1px 18px 0px 20px;
  gap: 10px;
  align-items: center;
}

/* Thinking */
.table-content .thinking-content .thinking {
  display: flex;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  width: auto;
  height: 150px;
  padding: 10px 6px;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s;
}

.table-content .thinking-content .thinking h2 {
  font-size: 1rem;
}

/* Thinking Progress */
.table-content .thinking-content p {
  display: flex;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 0 30px;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
}

.table-content .thinking-content .thinking:hover {
    height: 160px;
}

.table-content .thinking-content .thinking:hover ~ p {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Feeling Result */
.table-content .feeling-content {
  display: flex;
  margin: 1px 18px 0px 20px;
  gap: 10px;
  align-items: center;
}

/* Feeling */
.table-content .feeling-content .feeling {
  display: flex;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  width: auto;
  height: 150px;
  padding: 10px 6px;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s;
}

.table-content .feeling-content .feeling h2 {
  font-size: 1rem;
}

/* Feeling Progress */
.table-content .feeling-content p {
  display: flex;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 0 30px;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
}

.table-content .feeling-content .feeling:hover {
    height: 160px;
}

.table-content .feeling-content .feeling:hover ~ p {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Opportunities Result */
.table-content .opportunities-content {
  display: flex;
  margin: 1px 18px 0px 20px;
  gap: 10px;
  align-items: center;
}

/* Opportunities */
.table-content .opportunities-content .opportunities {
  display: flex;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  width: auto;
  height: 150px;
  padding: 10px 6px;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s;
}

.table-content .opportunities-content .opportunities h2 {
  font-size: 1rem;
}

/* Opportunities Progress */
.table-content .opportunities-content p {
  display: flex;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 0 30px;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
}

.table-content .opportunities-content .opportunities:hover {
    height: 160px;
}

.table-content .opportunities-content .opportunities:hover ~ p {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Profile */
.profile {
  margin: 0 32px 20px;
}

.profile .head{
  display: flex;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
}

.profile .content {
  display: flex;
  gap: 20px;
}

.profile .content img {
  width: 25%;
  border-radius: 15px;
}

.profile .content .description h2 {
  font-size: 1.5rem;
}

.profile .content .description h3 {
  font-weight: 500;
}

.profile .content .eppy{
  display: flex;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  background: var(--Text);
  color: var(--Background);
}
